body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #0033a0;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .dashboard {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar .interface {
    font-size: 14px;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.new-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.table-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.table-controls label,
.table-controls span {
    margin-right: 10px;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.content-table thead {
    background-color: #f8f9fa;
}

.content-table th,
.content-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.content-table th {
    font-weight: bold;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

#videoModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #videoModal > div {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
  }

  .button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  #canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .logout{
    text-decoration: none;
    color: white;
  }
  